<!DOCTYPE html>
<head>
    <title>PBB: Buildings</title>
</head>
<body>
    <h1>Pass the Bread Basket</h1>
    <ul>
        <li>The Meridian</li>
        <li>Avalon</li>
        <li>Parkside Condominium</li>
        <li>Inigo's Crossing</li>
        <li>Brighton Gardens</li>
        <li>Gables</li>
        <li>Timberlawn Cresent</li>
    </ul>
</body>