<!DOCTYPE html>
<head>
    <title>Pass the Bread Basket</title>
</head>

<body>
    <h1>Pass the Bread Basket</h1>
    <h2>Handling those extra slices</h2>
    <p>Feed your baking or cooking addiction and get acquainted with your neighbors at the same time through Pass the Bread Basket. An app that allows neighbors in your building to call dibs on a serving of a homemade good.</p>
    <button><a href="/buildings/">Find Your Building</a></button>
    <button>View Selected Servings</button>
</body>