<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Pass the Bread Basket</title>
    <link href="/global_styles.css" rel="stylesheet">
    <link href="/community.css" rel="stylesheet">
</head>

<body>
    <h1>Pass the Bread Basket</h1>
    <h2>Community Harvest</h2>
    <p>Feed your baking or cooking addiction and get acquainted with your neighbors at the same time through Pass the Bread Basket. An app that allows neighbors in your building to call dibs on a serving of a homemade good.</p>
    <button class="heading__loginButton">Login/Create Account</button>
    <div>
        <select name="floors" id="floors" class="heading__floorSelect">
            <option value="1st Floor">1st Floor</option>
            <option value="2nd Floor">2nd Floor</option>
            <option value="3rd Floor">3rd Floor</option>
            <option value="4th Floor">4th Floor</option>
            <option value="5th Floor">5th Floor</option>
        </select>
    </div>
</body>
<!-- <body>
    <section class="basics">
        <h1 class="basics__title">Pass the Bread Basket</h1>
        <h2 class="basics__slogan">Feed your cooking addiction and Neighbors</h2>
        <p class="basics__description">Fuel your baking or cooking addiction and get acquainted with your neighbors at the same time through Pass the Bread Basket. An app that allows neighbors in your building to call dibs on a serving of a homemade good.</p>
        <div class="basics__buttonContainer">
            <button class="default basics__buildingButton"><a href="/buildings/">Find Your Building</a></button>
            <button class="accent">View Selected Servings</button>
        </div>
    </section>
    <section class="instructions">
        <div class="instructions__blockA">
            <h3>Make a thing</h3>
            <p>Cook or bake a recipe</p>
        </div>
        <div class="instructions__blockB">
            <h3>Add it</h3>
            <p>Photograph the item</p>
        </div>
        <div class="instructions__blockC">
            <h3>Wait</h3>
            <p>Wait for people to select servings</p>
        </div>
        <div class="instructions__blockD">
            <h3>Pass it out</h3>
            <p>Share with neighbors</p>
        </div>
    </section>
</body> -->