<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Pass the Bread Basket</title>
    <link href="/global_styles.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body>
    <h1>Pass the Bread Basket</h1>
    <h2>Community Harvest</h2>
    <p>Fuel your baking or cooking addiction and get acquainted with your neighbors at the same time through Pass the Bread Basket. An app that allows neighbors in your building to call dibs on a serving of a homemade good.</p>
    <button class="heading__loginButton">Login/Create Account</button>
    <div class="heading__floorSelectContainer">
        <select name="floors" id="floors" class="heading__floorSelect">
            <option value="1st Floor">1st Floor</option>
            <option value="2nd Floor">2nd Floor</option>
            <option value="3rd Floor">3rd Floor</option>
            <option value="4th Floor">4th Floor</option>
            <option value="5th Floor">5th Floor</option>
        </select>
        <div><i class="fas fa-4x fa-caret-down"></i></div>
    </div>
</body>
