<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Pass the Bread Basket</title>
    <link href="/global_styles.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body>
    <h1>Pass the Bread Basket</h1>
    <h2>Community Harvest</h2>
    <p>Fuel your baking or cooking addiction and get acquainted with your neighbors at the same time through Pass the Bread Basket. An app that allows neighbors in your building to call dibs on a serving of a homemade good.</p>
    <button class="heading__loginButton">Login/Create Account</button>
    <div class="heading__floorSelectContainer">
        <select name="floors" id="floors" class="heading__floorSelect">
            <option value="1st Floor">1st Floor</option>
            <option value="2nd Floor">2nd Floor</option>
            <option value="3rd Floor">3rd Floor</option>
            <option value="4th Floor">4th Floor</option>
            <option value="5th Floor">5th Floor</option>
        </select>
        <div><i class="fas fa-4x fa-caret-down"></i></div>
    </div>

    <div class="floorMap">
        <h1>1st Floor</h1>
        <div class="floorMap__perimeter">
            <div class="floorMap__unit">
                <h2>Suite 101</h2>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 102</h2>
                <div>
                    <p>User A</p>
                    <p>NO SLICES AVAILABLE</p>
                    <p>Pickup: 9am</p>
                </div>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 103</h2>
                <div>
                    <p>User Q</p>
                    <p>Slices Available: 7</p>
                    <p>Pickup: 2pm</p>
                </div>
            </div>
            <div class="floorMap__space"></div>
            <div class="floorMap__unit">
                <h2>Suite 104</h2>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 105</h2>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 106</h2>
            </div>
            <div class="floorMap__hallway"></div>
            <div class="floorMap__clubHouse">
                <h2>Clubhouse/Activity Room</h2>
            </div>
            <div class="floorMap__space"></div>
            <div class="floorMap__unit">
                <h2>Suite 210</h2>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 209</h2>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 208</h2>
                <div>
                    <p>2 SLICES IN BASKET</p>
                    <p>User R</p>
                    <p>Available Slices: 4</p>
                    <p>Pickup: 2pm</p>
                </div>
            </div>
            <div class="floorMap__unit">
                <h2>Suite 207</h2>
            </div>
        </div>
    </div>
</body>
