@import "global_styles.css";

.basics{
    padding: 125px 10px 10px 10px;
}

.basics__title, .basics__slogan{
    text-align: center;
}

.basics__slogan{
    padding-top: 20px;
    padding-bottom: 20px;
}

.basics__description, .basics__buttonContainer{
    padding-left: 30px;
    padding-right: 30px; 
}

.basics__buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basics__buildingButton{
    padding-left: 85px;
    padding-right: 85px;
    margin-bottom: 60px;
}

.instructions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 275px);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 2.5rem;
}

.instructions h3{
    font-size: 3rem;
    line-height: 1rem;
    padding-top: 20px;
}

.instructions p {
    font-size: 2.5rem;
}

.instructions__blockA, .instructions__blockD{
    background: var(--peach);
}

.instructions__blockB, .instructions__blockC{
    background: var(--pinkPeach);
}

@media only screen and (min-width: 540px){
    .basics__buildingButton{
        margin-bottom: 0;
    }

    .basics__buttonContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 100px;
    }

    .instructions{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 275px);
    }

    .instructions h3{
        font-size: 1.5rem;
        line-height: 0;
        padding-top: 75px;
    }

    .instructions p {
        font-size: 1.25em;
    }

    .instructions__blockA,.instructions__blockC{
        background-color: var(--peach);
    }
    
    .instructions__blockB,.instructions__blockD{
        background-color: var(--pinkPeach);
    }

}