@import "global_styles.css";

body{
    text-align: center;
    padding: 50px 250px 50px 250px;
    background-color: var(--peach);
}

.unavailable{
    background-color: #F8CECC;
}

.selected{
    background-color: #D5E8D4;
}

.heading__loginButton{
    background-color: var(--sienna);
    color: white;
    margin-bottom: 20px;
}

.heading__floorSelectContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--yellow);
    border-radius: 10px;
    padding-right: 10px;
}

.heading__floorSelect{
    width: 100%;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    padding: 10px;
    -moz-appearence: none;
    -webkit-appearance: none;
    appearance: none;
}

.floorMap{
    width: 100%;
    background-color: cornsilk;
    margin-top: 30px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floorMap p{
    line-height: 1em;
}

.floorMap__perimeter{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1.5fr 1fr 1.5fr;
    width: 80%;
    height: 80%;
    border: 6px solid black;
    margin-bottom: 5%;
}

.floorMap__unit{
    border: 4px solid black;
    justify-items: center;
    align-items: center;
}

.floorMap__unit p{
    font-size: 1em;
    line-height: .75em;
    margin: 5px;
}

.floorMap__image{
    width: 50px; 
    height: 50px; 
    margin: 0;
}

.floorMap__hallway{
    grid-column: 1/span 7;
}

.floorMap__clubHouse{
    grid-column: 1/span 2;
    border: 4px solid black;
}
